.bordered {
  border-radius: 5px;
  border: 0.1rem #5e5e5e solid;
  box-shadow: 3px 2px 2px #5e5e5e;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  transition: 1s;

  &:hover{
    .delete{
      width: 2rem;
      opacity: 1;
    }
  }
}

.flex{
  display: flex;
}

.starIcon {
  margin-right: 1rem;
}

.checkBox {

}

.delete{
  width:0;
  opacity: 0;
}