$font-size: 1.3rem;
$base-color: rgba(152, 152, 152, 0.37);
$base-color-hover: rgba(94, 94, 94, 0.35);
$base-color-done: rgba(210, 210, 210, 0.35);

.bordered {
  word-wrap: break-word;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  margin: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;

  svg{
    transition: 0.5s;
    opacity: 0;
  }

  &:hover{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    .delete, .checkBox, .edit {
      opacity: 1;
    }
    svg{
      opacity: 1;
    }
  }

  &.taskDone{
    color: #9e9e9e;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    .checkBox {
      opacity: 0.4;
    }
  }
}

.checkBox, .edit, .delete {
  transition: 0.5s;
  opacity: 0;
}

.checkBox {
  color: rgba(84, 84, 84, 0.47);
  margin-right: 1rem;
}

.delete{
  color: rgba(84, 84, 84, 0.47);
  margin-left: 0.5rem;
}

.edit{
  color: rgba(84, 84, 84, 0.47);
}

.flex{
  word-wrap: break-word;
  display: flex;
}

.starIcon {
  margin-right: 1rem;
}

.editInput{
  flex: 1;
  font-size: $font-size;
  outline: none;
  border: 0;
  color: #3d3d3d;
  font-family: 'Work Sans', sans-serif;

  &::placeholder{
    color: #3d3d3d;
  }

}

.saveIcon {
  margin-left: 1rem;
}

.text{
  word-break: break-all;
}