$base-radius: 15px;
$base-color: rgba(152, 152, 152, 0.37);
$border-style: 0.1rem solid $base-color;
$font-size: 1.3rem;


button{
  font-family: 'Work Sans', 'Raleway', sans-serif;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: $border-style;
  font-size: $font-size;
}

.btnGroup{

  svg {
    margin-left: 0.5rem;
    vertical-align: bottom;
    color: $base-color;
  }

  button{
    background: white;
    transition: 0.5s;
    border: none;
    color: #7e7e7e;
    &:hover {
      color: #212121;
    }
    border-radius: 0 $base-radius $base-radius 0;
  }
}

.addButton{
  transition: 0.5s;
  border: none;
  color: #9e9e9e;
  background: none;
  &:hover {
    color: $base-color;
  }
}

.alignCenter{
  display: flex;
  text-align: center;
}

.searchInput {
  font-family: 'Work Sans', 'Raleway', sans-serif;
  flex-grow: 1;
  color: #3d3d3d;
  padding: 1rem 1.5rem;
  border-radius: $base-radius 0 0 $base-radius;
  border: none;
  font-size: $font-size;

  &::placeholder{
    color: #afafaf;
  }

  &:focus{
    outline: none;
  }
}

.dropdown {
  transition: all 0.5s;
  position: absolute;
  width: 6.5rem;
  list-style-type: none;
  height: 0;
  opacity: 0;
  z-index: 10;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }
  li {
    font-size: 0.5rem;
    transition: 0.5s;
    height: 0;
    padding: 0.5rem;
    background: white;
    color: #858585;

    &:last-child{
      border-radius: 0px 0px $base-radius $base-radius;
    }

  }

  &.show{
    opacity: 1;
    li {
      height: 1.3rem;
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
        color: #1e1e1e;
      }
    }
  }


}